@model Domain.Entities.Product

<div class="well">
    @if (Model.ImageData != null)
    {
        <div class="pull-left" style="margin-right: 10px">
            <img class="img-thumbnail" width="75" height="75"
                 src="@Url.Action("GetImage", "Product",
                          new {Model.ProductID})"/>
        </div>
    }

    <h3>
        <strong>@Model.Title</strong>
        <span class="pull-right label label-primary">@Model.Price.PriceUsed.ToString()</span>
    </h3>
    

    @{ var myMessage = ""; 
        foreach (var item in Model.PriceComparison)
        {
            myMessage += item.Key + ": " + item.Value + ", \t";
        }
    }


    <p>@myMessage</p> 
    


    <form action="/" method="post">
        <div class="pull-right">
            @Html.HiddenFor(x => x.ProductID)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            @*<input id="cart" class="btn btn-success" value="Add to cart"/>*@
            @*<button id="cart" type="button" onclick ="addToCart(@Model.ProductID.ToString())" class="btn btn-success">Add to cart</button>*@
            
       
        
        </div>        
    </form>
    
    <span class="lead">@Model.Description</span>
</div>

