@model Domain.Entities.Cart

<style>
#cart-container {
  float: right;
  position: relative;
  color: white;
  
  
}

#itemCount {
  position: absolute;
  display: none;
  top: -10px;
  left: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: red;
  color: white;
  text-align: center;
}

i:hover {
  cursor: pointer;
}

</style>

<div class="navbar-right">
    @Html.ActionLink("Checkout", "Index", "Cart",
                       new { returnUrl = Request.Url.PathAndQuery },
                    new { @class = "btn btn-default navbar-btn" })
</div>

<div class="navbar-text navbar-right">

    <div id="cart-container">
        <div id="cart">
            <i class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></i>
            
        </div>
        <span id="itemCount"></span>
    </div>
</div>

<script>
    @*$(document).ready(
        updateCartDisplay(
            $.get("@Url.Action("GetCartCount", "Cart")",
                function (data) { data; }
                );)
    );*@


    function addToCart(id) {
        var productID = $("#ProductID").val();
        console.log("ID: " + productID);
        console.log("sent id: " + id);
        $.post("@Url.Action("AddToCart", "Cart")", {productId: id}, function (send) {
            updateCartDisplay(send);
            console.log("Count: "+send);
        });


    }

    function removeFromCart(id) {
        var productID = $("#ProductId").val();
        console.log("ID: " + productID);
        console.log("sent id: " + id);
        $.post("@Url.Action("RemoveFromCart", "Cart")", {productId: id}, function (send) {
            updateCartDisplay(send);
            console.log("Count: "+send);
        });
        loadCartPartial();

    }

    function loadCartPartial()
    {
        $("#cartContainer").load("@Url.Action("CartSummary", "Cart")");
    }



    function updateCartDisplay(count) {

        var itemCount = count;
        if (itemCount > 0) {
            $('#itemCount').html(itemCount).css('display', 'block');
        } else {
            $('#itemCount').html(itemCount).css('display', 'none');
        }
    };
    $(document).ready(updateCartDisplay(@Model.GetTotalCount()));


</script>


@*@model Domain.Entities.Cart
<div class="navbar-right">
    @Html.ActionLink("Checkout", "Index", "Cart",
new { returnUrl = Request.Url.PathAndQuery },
new { @class = "btn btn-default navbar-btn" })
</div>
<div class="navbar-text navbar-right">
    <b>Your cart:</b>
    @Model.Lines.Sum(x => x.Quantity) item(s),
    @Model.ComputeTotalValue().ToString("c")
</div>*@


